.domain-card {
  border-radius: 10px;
  color: var(--dark-grey);
  background-color: var(--light-grey-l6);
  padding: 30px;
  transition: 0.4s;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.domain-card:hover {
  cursor: pointer;
  color: var(--dark-grey-d4);
  background-color: var(--light-grey-l6);
  transition: 0.4s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 7px 29px;
}

.domain-card--title {
  font-family: 'Segoe UI', sans-serif;
  /* text-transform: uppercase; */
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
}

.domain-card--subtitle {
  font-size: 0.9rem;
  font-family: 'Segoe UI', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: var(--green-d1);
  transition: 0.4s;
}

.domain-card:hover > .domain-card--subtitle {
  color: var(--green-d3);
  transition: 0.4s;
}
