.datasetview--title {
  font-size: 2.7rem;
}

.tablecard--tag {
  background-color: var(--green-l5);
  color: var(--green-d5);
  font-size: 0.9rem;
  padding: 1px 5px;
  border-radius: 3px;
  margin-left: 13px;
}

.dataset-metadata--header {
  background-color: var(--purple)!important;
  color: white;
}

.infotable--cell {
  padding-left: 15px!important;
  padding-right: 15px!important;
}