body {
  font-family: 'Segoe UI', sans-serif;
}

h1, h2, h3 {
  font-family: 'Segoe UI Light', sans-serif;
}

/* Center checkbox */
.form-check-inline .form-check-input {
  margin-right: 0!important;
}

.form-check-inline {
  margin-right: 0!important;
  vertical-align: middle!important;
}